{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title">{{ course.title }}</h2>
      <p><strong>Преподаватель:</strong> {{ course.teacher }}</p>
      <p><strong>Категория:</strong>
        {% for cat in course.category.all %}
                 {{ cat.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                  Нет
                {% endfor %}
      </p>
      <p><strong>Уровень:</strong> {{ course.get_level_display }}</p>
      <p><strong>Стоимость:</strong> {{ course.price }} $</p>
      <hr>
      <p>{{ course.description }}</p>
      <h4 class="mt-4">Список уроков</h4>
      <ul class="list-group">
        {% for lesson in course.lessons.all %}
          <li class="list-group-item">
            {{ lesson.order }}. {{ lesson.title }}
          </li>
        {% empty %}
          <li class="list-group-item">Уроков пока нет.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <a href="{% url 'course_list' %}" class="btn btn-secondary mt-3">← Назад к списку</a>
</div>
{% endblock %}
